@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 255; /* Blue */
  --background-end-rgb: 0, 128, 255; /* Light Blue */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 128, 0, 128;
    --background-end-rgb: 255, 153, 51;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

.centered-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  color: white;
  font-weight: bold;
}

/* Apply white text color with black outline */
.text-bold-outline {
  color: #fdfdfd;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}
